@page "/resultlist"

@inject AllowGuestHttpClient Http
@inject NavigationManager NavigationManager

<h1>情緒のない判定結果一覧</h1>

@if (docs == null)
{
    <p><em>Loading...</em></p>
}
else if (docs.Count == 0)
{
    <p><em>No more result.</em></p>
}
else
{
    <ul class="list-unstyled">

        @foreach (var doc in docs)
        {
            <li class="media" style="margin-bottom: 8px;">
                <NavLink href="@($"/results/{doc.Id}")">
                    <img src="@doc.Image.Uri" class="mr-3" style="max-width: 160px; min-width: 160px;">
                </NavLink>
                <div class="media-body">

                    <table class="table">
                        <thead>
                            <tr><th>Detector</th><th>Adult?</th><th>Racy?</th></tr>
                        </thead>
                        <tbody>
                            @foreach (var result in doc.Results)
                            {
                                <tr>
                                    <td>@getDetectorNickName(result.Detector)</td>
                                    <td>
                                        @(result.IsAdultContent)
                                        : @(Math.Round(result.AdultScore * 100))
                                    </td>
                                    <td>
                                        @(result.IsRacyContent)
                                        : @(Math.Round(result.RacyScore * 100))
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </li>
        }
    </ul>
    if (next < DateTimeOffset.MaxValue)
    {
        <p>
            <NavLink href="@($"/results?offset={next.UtcTicks}")" class="btn btn-link" @onclick="OnNext">Next</NavLink>
        </p>
    }
}
<div>@message</div>

@code {
    ICollection<IResultDocument> docs { get; set; }
    DateTimeOffset next { get; set; }
    string message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task OnNext()
    {
        NavigationManager.NavigateTo($"/results?offset={next.UtcTicks}", true);
    }

    private async Task Load()
    {
        try
        {
            DateTimeOffset offset = DateTimeOffset.MinValue;
            try
            {

                var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
                if (QueryHelpers.ParseNullableQuery(uri.Query).TryGetValue("offset", out var stringOffsets))
                {
                    offset = new DateTimeOffset(long.Parse(stringOffsets.First()), TimeSpan.Zero);
                }
            }
            catch (Exception)
            {
                // ignore
            }
            docs = await Http.GetFromJsonAsync<PlainResultDocument[]>($"ResultDocument?offset={offset.UtcTicks}");
            if (docs.Count > 0)
            {
                next = docs.Max(x => x.CreatedAt);
            }
            else
            {
                next = DateTimeOffset.MaxValue;
            }
        }
        catch (Exception ex)
        {
            // XXX 500放れるといい
            message = ex.Message + " ... " + ex.StackTrace;
        }
    }
    string getDetectorNickName(ImageDetector detector)
    {
        switch (detector)
        {
            case ImageDetector.AzureCognitiveServicesComputerVision:
                return "Azure";
            case ImageDetector.AwsAmazonRekognition:
                return "AWS";
            case ImageDetector.GcpCloudVision:
                return "GCP";
            default:
                return "Unknown";
        }
    }
}
